backend/meals.db
backend/.venv/
backend/__pycache__/
backend/migrations/__pycache__/
backend/data/meals.db
*__pycache__/
backend/old2ng_migration.py
backend/.env
docker-compose-pf.yaml
backend/.venv*
frontend/localhost+1.pem
frontend/localhost+1-key.pem
frontend/runtime-config/config.json
ssl-certs/fullchain.pem
ssl-certs/privkey.pem
